<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    
    <title>Upper Cases</title>
	
    <link rel="stylesheet" href="/css/typekit.css">
    <link rel="stylesheet" href="/css/other.css">
    <link rel="stylesheet" href="/css/custom.css">
     
      <meta name="description" content="The official Upper Cases site."/>
      <meta property="og:title" content="Upper Cases"/>
      <meta property="og:description" content="The official Upper Cases site."/>
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="{{ .Permalink }}"/>
      <meta property="og:site_name" content="Upper Cases"/>
    
    <script src="https://kit.fontawesome.com/ff46203259.js" crossorigin="anonymous"></script>
</head>

<body class="vflex-spb">
  
  {{- partial "header.html" . -}}

  <main id="content" class="transition-fade">
    {{- block "main" . }}{{- end }}
    
    <!--
    <section class="grid">
    {{- block "grid" . }}{{- end }}
    </section>
    -->
  </main>
  

</body>
</html>

